html {
  height: 100%;
}

body {
  background-color: #dddddd;
  height: 100%;
}

#main-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

a {
  color: #00b7ff;
}

#Todolist {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40vw;
  height: 45vw;
}

#Sublist {
  background: blue;
  width: 40vw;
  height: 45vw;
  opacity: 0.5;
}

#Title_image {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 25vw;
  margin-bottom: 1vw;
}

#Todo_header {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #b8ddff;
  width: 100%;
  height: 3vw;
  border: 2px solid black;
  border-bottom: none;
  border-radius: 30px 30px 0 0;
}

#Todo_field {
  background-color: white;
  width: 100%;
  position: relative;
  height: 35vw;
  border: 2px solid black;
  border-radius: 0 0 30px 30px;
}

#Input_bar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 1vw;
}

#Todoinput {
  position: absolute;
  bottom: 1em;
  width: 90%;
  background-color: white;
  border-radius: 15px;
  border: 2px solid #ccc;
  padding: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

#Reg_btn {
  position: absolute;
  background-color: #ffcdcd;
  border: none;
  border-radius: 15px;
  width: 10%;
  height: 2em;
  bottom: 1.5em;
  right: 5%;
  cursor: pointer;
}

.content {
  padding: 0.5vw;
  font-size: 1.2vw;
  position: relative;
  font-family: "Nanum Pen Script", cursive;
  font-weight: 400;
  font-style: normal;
  border: 1px solid grey;
  border-top: none;
  border-left: none;
  border-right: none;
}

input[type="checkbox"] {
  width: 1vw;
  height: 1vw;
  cursor: pointer;
}

/* 체크박스 체크 상태 디자인 */
input[type="checkbox"]:checked {
  accent-color: #00b7ff;
}

/* 체크박스와 레이블 사이의 간격 조정 */
input[type="checkbox"] + label {
  font-size: 1.2em;
  margin-left: 0.5em;
}

/* 체크박스 포커스 상태 스타일 */
input[type="checkbox"]:focus {
  outline: 2px solid #00b7ff;
  outline-offset: 2px;
}

.delete-btn {
  width: 2vw;
  height: 2vw;
  position: absolute;
  background: none;
  border: none;
  right: 0;
  cursor: pointer;
}

.Trash-img {
  width: 100%;
  height: 100%;
}
