html {
  height: 100%;
}

body {
  background-color: #dddddd;
  height: 100%;
}

#main-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

a {
  color: #00b7ff;
}

#Todolist {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40vw;
  height: 50vw;
}

#Sublist {
  width: 30vw;
  height: 45vw;
}

#Title_image {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 20vw;
  margin-bottom: 1vw;
  margin-left: 4vw;
}

#Todo_header {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #b8ddff;
  width: 100%;
  height: 3vw;
  border: 2px solid black;
  border-bottom: none;
  border-radius: 30px 30px 0 0;
  padding: 1vw;
}

#Todo_field {
  background-color: #f4faff;
  width: 100%;
  position: relative;
  height: 35vw;
  border: 2px solid black;
  border-radius: 0 0 30px 30px;
  padding: 1vw;
}

#Input_bar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 1vw;
}

#Todoinput {
  position: absolute;
  bottom: 1em;
  width: 90%;
  background-color: white;
  border-radius: 15px;
  border: 2px solid #ccc;
  padding: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

#Reg_btn {
  position: absolute;
  background-color: #ffcdcd;
  border: none;
  border-radius: 15px;
  width: 10%;
  height: 2em;
  bottom: 1.5em;
  right: 5%;
  cursor: pointer;
}

.content {
  padding: 0.5vw;
  font-size: 1.2vw;
  position: relative;
  font-family: "Nanum Pen Script", cursive;
  font-weight: 400;
  font-style: normal;
  border: 1px solid grey;
  border-top: none;
  border-left: none;
  border-right: none;
}

/* 기본 체크박스 숨기기 */
input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* 체크박스의 커스텀 스타일 */
input[type="checkbox"] + label {
  position: relative;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  font-size: 1.2em;
  margin-left: 0.5em;
}

/* 커스텀 체크박스 */
input[type="checkbox"] + label::before {
  content: "";
  display: inline-block;
  width: 1vw;
  height: 1vw;
  border: 2px solid #ccc;
  border-radius: 50%;
  background-color: white;
  margin-right: 0.5em;
  transition: background-color 0.3s, border-color 0.3s;
}

/* 체크박스 체크 상태 스타일 */
input[type="checkbox"]:checked + label::before {
  border-color: #00b7ff; /* 체크된 상태의 테두리 색상 */
  background-color: #00b7ff; /* 체크된 상태의 배경 색상 */
}

input[type="checkbox"]:checked + label {
  text-decoration: line-through;
  color: #888; /* 선택된 항목의 텍스트 색상 (선택 사항) */
}

.delete-btn {
  width: 2vw;
  height: 2vw;
  position: absolute;
  background: none;
  border: none;
  right: 0;
  cursor: pointer;
}

.Trash-img {
  width: 100%;
  height: 100%;
}

#date_header {
  background-color: #b8ddff;
  border: 2px solid black;
  border-bottom: none;
  width: 100%;
  height: 3vw;
  font-size: 2vw;
  color: black; /* 폰트 색상 설정 */
  font-weight: bold; /* 폰트 두께를 두껍게 설정 */
}

#date_field {
  background-color: #f4faff;

  font-size: 3vw;
  text-align: center;

  width: 100%;
  height: 4vw;
}

#Date_picker {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: ##b8ddff; /* 배경색 */
  border: 2px solid black; /* 테두리 */

  width: 100%;
}

#dateInput {
  padding: 8px;
  border: 1px solid #ccc;
  font-size: 1em;
  color: #333;
  background-color: ##b8ddff;
  cursor: pointer;
  outline: none;
  transition: border-color 0.3s ease;
}

#dateInput:hover,
#dateInput:focus {
  border-color: #b8ddff; /* 포커스 및 호버 시 테두리 색상 */
}
